.searchbar {
  background-color: #003366;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
}

.input {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin-right: 5px;
}

.button {
  height: 30px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 360px;
}

.load-more-button {
  height: 30px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

